<ul>
	{% for event in all_events %}
		<li> <a href="/events/{{event.event_id}}/">{{event.title}}</a> <a href="/events/delete_event/{{event.event_id}}">DELETE</a></li>

	{% endfor %}
</ul>

<form action="/events/add_event/" method="post">
	{% csrf_token %}
	Event Title: <input type="text" id="event_title" name="event_title" value=""/><br>
	Start Time: <input type="datetime-local" id="event_start" name="event_start" value=""/><br>
	End Time: <input type="datetime-local" id="event_end" name="event_end" value=""/><br>
	Privacy: <input type="checkbox" id="event_privacy" name="event_privacy" value="Private"/><br>
	Description: <input type="text" id="event_description" name="event_description" value=""/><br>
	Location: <input type="text" id="event_location" name="event_location" value=""/><br>
	<input type="submit" id="add_event_button" name="add_event_button" value="Add Event"/>
</form>

<form id="searchform" action="{% url 'event-search-list' %}" method="get" accept-charset="utf-8">
      <button class="searchbutton" type="submit">
        <i class="fa fa-search"></i>
      </button>
      <input class="searchfield" id="searchbox" name="q" type="text" placeholder="Search">
</form>