{% extends "base.html" %}
        <body>

            <div class="jumbotron text-center">
            <h1>Welcome to SagePlan!</h1>
            </div>
            {% block content %}
            <a type="button" class="btn btn-primary" href="/events/signup">Add User</a>

            <a type="button" class="btn btn-primary" href="/events/invite_view">Invite</a>

            <h4>Hosted Events</h4>
            <ul>
              {% for event in hosted_events %}
                <li>{{event.title}}</li>
              {% endfor %}
            </ul>

            <h4>Invited Events</h4>
            <ul>
              {% for event in invited_events %}
                <li>{{event.title}}</li>
              {% endfor %}
            </ul>

        {% endblock %}
        </body>
</html>